<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Neighbourhood System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginResidentServlet</display-name>
    <servlet-name>LoginResidentServlet</servlet-name>
    <servlet-class>patrol.controller.LoginResidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginResidentServlet</servlet-name>
    <url-pattern>/LoginResidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateResidentServlet</display-name>
    <servlet-name>CreateResidentServlet</servlet-name>
    <servlet-class>patrol.controller.CreateResidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateResidentServlet</servlet-name>
    <url-pattern>/CreateResidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCommitteeServlet</display-name>
    <servlet-name>LoginCommitteeServlet</servlet-name>
    <servlet-class>patrol.controller.LoginCommitteeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCommitteeServlet</servlet-name>
    <url-pattern>/LoginCommitteeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPatrolman</display-name>
    <servlet-name>viewPatrolman</servlet-name>
    <servlet-class>patrol.controller.viewPatrolman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPatrolman</servlet-name>
    <url-pattern>/viewPatrolman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewSchedule</display-name>
    <servlet-name>viewSchedule</servlet-name>
    <servlet-class>patrol.controller.viewSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSchedule</servlet-name>
    <url-pattern>/viewSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheduleDao</display-name>
    <servlet-name>scheduleDao</servlet-name>
    <servlet-class>patrol.dao.scheduleDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleDao</servlet-name>
    <url-pattern>/scheduleDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createScheduleController</display-name>
    <servlet-name>createScheduleController</servlet-name>
    <servlet-class>patrol.controller.createScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createScheduleController</servlet-name>
    <url-pattern>/createScheduleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listScheduleController</display-name>
    <servlet-name>listScheduleController</servlet-name>
    <servlet-class>patrol.controller.listScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listScheduleController</servlet-name>
    <url-pattern>/listScheduleController</url-pattern>
  </servlet-mapping>
</web-app>